.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  position: relative;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.modal button {
  width: 100%;
  padding: 12px;
  background: #1DA1F2;
  color: white;
  border: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 13px;
}